<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hys.timetable.dao.WeekMapper">
    <select id="listWeek" resultType="com.hys.timetable.model.Week">
        <![CDATA[
            SELECT
            week_id week_of_year, start_date beginDate,
            end_date endDate
            FROM
            ts_week
            WHERE week_id >= #{beginWeekOfYear}
            AND week_id <= #{endWeekOfYear}
        ]]>
    </select>
</mapper>