<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hys.login.dao.LoginUserMapper">
    <select id="loadUserByUserCode" parameterType="string" resultType="com.hys.login.model.LoginUserDetails">
        SELECT USER_CODE, USER_NAME, PASSWORD, ENABLED FROM TS_USER WHERE USER_CODE = #{userCode}
    </select>
    
</mapper>